{% extends "base.html" %}
{% block content %}
  <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-md-2">
	  </div>
	  <div class="col-xs-12 col-md-8">
		{% for a in articles %}
		 <h4><a href="/articles/detail/{{a.id}}">{{a.title}}</a></h4>
		{% endfor%}
	  </div>
	  <div class="col-xs-12 col-md-2">
        <img src="/static/img/avator/haha.jpg/" width="160" height="126">
		<br/><br/>
	    <center><a href="https://github.com/adamwinwho">Github</a></center>
		<center><a href="http://stackoverflow.com/">StackOverFlow</a></center>
		<center><a href="http://freelycode.com">Python</a></center>
	  </div>
	</div>
  </div>
{% endblock %}
